asgiref==3.9.1
dj-database-url==3.0.1
dj-email-url==1.0.6
Django==5.2.4
django-cache-url==3.4.5
django-cors-headers==4.7.0
djangorestframework==3.16.0
environs==14.2.0
marshmallow==4.0.0
pillow==11.3.0
psycopg2-binary==2.9.10
python-dotenv==1.1.1
sqlparse==0.5.3
